apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster-dep
spec:
  replicas: 6
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
        - name: broadcaster
          image: broadcaster:prod
          imagePullPolicy: IfNotPresent
          env:
            - name: NATS_URL
              value: "nats://my-nats.default.svc.cluster.local:4222"
            - name: TELEGRAM_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: broadcaster-secrets
                  key: telegram_bot_token
            - name: TELEGRAM_CHAT_ID
              valueFrom:
                configMapKeyRef:
                  name: broadcaster-config
                  key: telegram_chat_id
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: broadcaster-config
data:
  telegram_chat_id: "6599853463"
