apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  namespace: project
  name: todo-backend-backendconfig
spec:
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 2
    unhealthyThreshold: 3
    type: HTTP
    requestPath: /healthz
    port: 3000
