apiVersion: batch/v1
kind: Job
metadata:
  namespace: project
  name: todo-postgres-migration
spec:
  template:
    spec:
      restartPolicy: OnFailure
      volumes:
        - name: migrations
          configMap:
            name: todo-postgres-migration
      containers:
        - name: migrate
          image: postgres:16-alpine
          volumeMounts:
            - name: migrations
              mountPath: /migrations
          command:
            - sh
            - -c
            - |
              until pg_isready -h todo-postgres-stset-0.todo-postgres-svc -p 5432 -U postgres; do
                echo "Waiting for postgres..."
                sleep 2
              done

              echo "Running migrations..."
              psql postgresql://postgres:postgres@todo-postgres-stset-0.todo-postgres-svc:5432/todos -f /migrations/20251227_create_todos_table.sql

              echo "Migration completed successfully"
