apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- configmap.yaml
- deployment.yaml
- service.yaml
- ingress.yaml
images:
- name: LOG_READER_IMAGE
  newName: europe-north1-docker.pkg.dev/useful-device-482607-p0/dwk-repository/log-reader
  newTag: d436cf94349b7328c56753159302284674834ff3
- name: LOG_WRITER_IMAGE
  newName: europe-north1-docker.pkg.dev/useful-device-482607-p0/dwk-repository/log-writer
  newTag: d436cf94349b7328c56753159302284674834ff3
